div#subpage-viewer {
  float: left;
  width: 100%;
  background-color: #afafaf;
  min-width: 800px;
}

#div-subpage {
  padding: 20px;
  height: calc(100% - 46px);
  display: block;
  border: solid #aaabbc;
}

iframe.subpage {
  width: 100%;
  display: none;
}

#right-frame {
  background-color: #e7e9eb;
  width: 300px;
  float: left;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 20px;
  height: 100%;
  display: none;
}
